@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Protest+Strike&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    overflow-x: hidden;
}

h1{
    font-family: "Libre Baskerville";
    font-weight: 800;
    color: white;
    
    font-size: 6rem;
}
h2,h3,h4,h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
